@import url('https://fonts.googleapis.com/css?family=Rajdhani:700'); /** 구글폰트 */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #f1f1f5;
}
/** box-sizing 사용하면 동일한 결과를 얻을 수 있고, 다른 곳에서 상자크기를 쉽게 변경 할 수 있다. */
*, *:before, *:after {
  box-sizing: inherit;
}
